.feature {
  background: #fff;
  padding-bottom: 40px;
  padding-top: 5.2rem;
}
.center h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
}
.center.text-center {
  padding-bottom: 60px;
}
.center span,
#middle h2 span {
  color: #01c0f3;
}
.divider_wrap {
  /* border-top: 1px solid #ececec; */
  margin: 20px 0;
  position: relative;
}
.divider_wrap span {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  left: 0;
  margin: 0 auto;
  padding: 0px;
  position: absolute;
  right: 10px;
  top: -7px;
  width: 0;
}
.divider_wrap svg {
  background: none repeat scroll 0 0 #01c0f3;
  border: 4px solid #ececec;
  border-radius: 100%;
  display: block;
  height: 15px;
  width: 15px;
}
.features {
  padding: 0;
}
.features .col-md-4.col-sm-6 {
  float: left;
  padding: 10px;
}
.feature-wrap {
  padding: 20px;
  background-color: #fff;
  height: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 5px 30px rgb(0 192 243 / 30%);
  box-shadow: 7px 5px 30px rgb(0 192 243 / 30%);
}
.feature-wrap:hover {
  background: #00c0f3;
  color: #fff;
  transform: scale(1.1);
  transition: all ease.2s;
}
.feature-wrap .media {
  text-align: center;
}
.media-left {
  padding: 0px;
}
.feature-wrap a:hover {
  color: #00c0f3;
  text-decoration: none;
}
.feature-wrap svg {
  float: none !important;
}
.feature-wrap svg {
  font-size: 33px;
  height: 80px;
  width: 80px;
  margin: 3px;
  border-radius: 100%;
  line-height: 78px;
  text-align: center;
  background: #ffffff;
  color: #00c0f3;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
  padding: 15px;
}
.feature-wrap svg:hover {
  background: #01c0f3;
  color: #fff;
  box-shadow: inset 0 0 0 5px #c52d2f;
  -webkit-box-shadow: inset 0 0 0 5px #01c0f3;
  border: 3px solid #01c0f3;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.feature-wrap h2 {
  margin-top: 10px;
  font-size: 20px;
}
.feature-wrap h3 {
  font-size: 15px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}
.feature-wrap h3:hover {
  color: #fff;
}
p.lead {
  margin: 0px 130px;
  font-size: 18px;
}